body{
	background-color: #DCD7F9;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
}

header h1{
	color: #252331
}

#texto{
	border: 2px solid #070146;
}

#demo{
	background-color:#63b8ee;
	border-radius: 10px;
	border:1px solid #3866a3;
	color:#14396a;
	font-size:18px;
	font-weight:bold;
	height:35px;
	width:85px;
	text-shadow:1px 1px 0px #7cacde;
}

#demo:hover{
	background-color:#468ccf;
}

#demo:active{
	position:relative;
	top:1px;
}